<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Overview</h1>
    <h2 class="sub-header">Current Servers</h2>
    <div class="table-responsive">
        <table class="table table-striped" id = "InfoTable">
            <thead>
                <tr>
                    <th>Server ID</th>
                    <th>Server Name</th>
                    <th>Account Name</th>
                </tr>
            </thead>
            <tbody>
                <% if (ItemList.length > 0) { %>
                    <% for(i = 0; i < ItemList.length; i++){%>
                <tr>
                    <td><a href = "/ID/<%=ItemList[i].ID%>"> <%=ItemList[i].ID%></a></td>
                    <td><a href = "/Program/<%=ItemList[i].ProgramName%>"><%=ItemList[i].ProgramName%></a></td>
                    <td><a href = "<%=ItemList[i].AccountName%>"><%=ItemList[i].AccountName%></a></td>
                </tr>
                        <%}%>
                    <%}%>
            </tbody>
        </table>
    </div>
</div>