<style>
     h1,
    h2 {
        color: Black;
        border: 4px solid #00b388;
        text-align: center;
    }
    li.stuff{
        font-size: large;
    }

</style>
<div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
    <div class="col-sm-12  col-md-12">
        <h1>Contact Information</h1>
    </div>
    <div class="col-sm-5  col-md-5 ">
        <h2>Beta Manager</h2>
        <ul>
            <%for(i = 0; i < Data.betaManager.length;i++){%>
                <%if(Data.betaManager[i] != undefined && Data.betaManager[i] !="None Provided"){%>
                    <li class = "stuff"><a href="/Contact/<%=Data.betaManager[i]%>"><%=Data.betaManager[i]%></a></li>
                    <%}%>
                        <%}%>
        </ul>
    </div>
    <div class="col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-2">
        <h2>Beta Coordinators</h2>
        <ul>
            <%for(i = 0; i < Data.BetaCoord.length;i++){%>
                <%if(Data.BetaCoord[i] != undefined && Data.BetaCoord[i] !="None Provided"){%>
                    <li class = "stuff"><a href="/Contact/<%=Data.BetaCoord[i]%>"><%=Data.BetaCoord[i]%></a></li>
                    <%}%>
                        <%}%>
        </ul>
    </div>
    <div class="col-sm-5  col-md-5">
        <h2>Beta Techs</h2>
        <ul>
            <%for(i = 0; i < Data.betaTech.length;i++){%>
                <%if(Data.betaTech[i] != undefined && Data.betaTech[i] !="None Provided"){%>
                    <li class = "stuff"><a href="/Contact/<%=Data.betaTech[i]%>"><%=Data.betaTech[i]%></a></li>
                    <%}%>
                        <%}%>
        </ul>
    </div>
    <div class="col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-2">
        <h2>Marketing Coordinators</h2>
        <ul>
            <%for(i = 0; i < Data.betaMarketing.length;i++){%>
                <%if(Data.betaMarketing[i] != undefined && Data.betaMarketing[i] !="None Provided"){%>
                    <li class = "stuff"><a href="/Contact/<%=Data.betaMarketing[i]%>"><%=Data.betaMarketing[i]%></a></li>
                    <%}%>
                        <%}%>
        </ul>
    </div>
</div>
