<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href = "/">Beta Testing Product Information</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/help">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input id = "SearchBar" type="text" class="form-control" placeholder="Search...">
                <script src = "/chart/jquery-3.2.1.min.js"></script>
                <script>
                    $(document).ready(function(){
                        $("#SearchBar").keyup(function(){
                            var value = $(this).val().toLowerCase();
                            var table = document.getElementById("InfoTable");
                            var tr = table.getElementsByTagName("tr");
                            for(i = 1; i < tr.length; i++)
                            {
                                var td = tr[i].getElementsByTagName("td");
                                var contains = false;
                                for(x = 0; x< td.length; x++)
                                {
                                    var s = td[x].innerHTML;
                                    s = s.substring(s.indexOf(">")+1, s.lastIndexOf("<")).toLowerCase();
                                    if(s.includes(value))
                                        contains = true;
                                }
                                if(!contains)
                                    tr[i].style.display = "none";
                                if(contains)
                                    tr[i].style.display = "table-row";
                            }
                        });
                    });
                </script>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
               <li id = "home"><a href="/">Server List</a></li>
                <li id = "accountlist"><a href="/Account">Account List</a></li>
                <li id = "Regions"> <a href = "/Region">Regions</a></li>
                <li id = "servername"><a href="/Overview">Server Graph</a></li>
                <li id = "WorldMap"><a href="/worldmap">World Map</a></li>
                <li id = "extrapage"><a href="/extrapage">All Product Status</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="/chart/jquery-3.2.1.min.js"></script>
            <script>
                $(function() {
                    //in order to add a new Tab you need to set current = to the id in the <li> tag
                    // up above. if you do not then javascript will throw an error
                    if(<%=current%>.innerHTML.includes("Server List"))
                        {
                            document.getElementById("home").classList.add("active");
                        }
                    else if (<%=current%>.innerHTML.includes("Server Graph"))
                        {
                            document.getElementById("servername").classList.add("active");
                        }
                    else if (<%=current%>.innerHTML.includes("World Map"))
                        {
                            document.getElementById("WorldMap").classList.add("active");
                        }

                    else if (<%=current%>.innerHTML.includes("extrapage"))
                        {
                            document.getElementById("extrapage").classList.add("active");
                        }
                    else if (<%=current%>.innerHTML.includes("Account"))
                        {
                            document.getElementById("accountlist").classList.add("active");

                        }
                    else if (<%=current%>.innerHTML.includes("Region"))
                        {
                            document.getElementById("Regions").classList.add("active");

                        }
                });
            </script>
